@model IEnumerable<GameOfBrushes.Models.ApplicationUser>

@{
    ViewBag.Title = "Leaderboard";
}

<h2>Leaderboard</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserInfo.Rank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserInfo.Points)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.UserInfo.Rank)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.UserInfo.Points)
        </th>
    </tr>
}

</table>
