
@model IEnumerable<GameOfBrushes.Models.ApplicationUser>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Leaderboard</h1>
    <p class="lead">Five men. Five glorious masterpieces. One winner. Will you dare being <strong>the one</strong>?</p>
    <div >
         <p><a href="http:/Games/Index" class="btn btn-success btn-lg">Play &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <h2>Leaderboard</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserInfo.Rank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserInfo.Points)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.UserInfo.Rank)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.UserInfo.Points)
                    </th>
                </tr>
            }

        </table>
    </div>
</div>
